{% extends 'base.html.twig' %}

{% block body %}
    <section class="section">
        <div class="row">
            {% include 'chamados/partials/buscar.html.twig' %}
        </div>
        <div class="row">
            <div class="col s10 offset-s1">

                <table class="table striped responsive-table{% if filtrar == false %} hide{% endif %}">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Pedido</th>
                            <th>Título</th>
                            <th>Observação</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <td colspan="99">
                                <ul class="pagination center">
                                    <li class="{% if pagina-1 <= 0 %}disabled{% else %}waves-effect{% endif %}"><a href="{% if pagina-1 < 0 %}#!{% else %}{{ path('chamados_relatorio') }}/{{ pagina-1 }}{% endif %}"><i class="material-icons">chevron_left</i></a></li>
                                    {% for i in 1..total_pg %}
                                        <li class="{% if pagina == i %}active{% else %}waves-effect{% endif %}"><a href="{% if pagina == i %}#!{% else %}{{ path('chamados_relatorio') }}/{{ i }}{% endif %}">{{ i }}</a></li>
                                    {% endfor %}
                                    <li class="{% if pagina+1 > total_pg %}disabled{% else %}waves-effect{% endif %}"><a href="{% if pagina+1 > total_pg %}#!{% else %}{{ path('chamados_relatorio') }}/{{ pagina+1 }}{% endif %}"><i class="material-icons">chevron_right</i></a></li>
                                </ul>
                            </td>
                        </tr>
                    </tfoot>

                    <tbody>
                        {% for chamado in chamados %}
                            <tr>
                                <td>
                                    {{ chamado.getCliente.getNome }} <br>
                                    <small>{{ chamado.getCliente.getEmail }}</small>
                                </td>
                                <td>
                                    {{ chamado.getPedido.getNumero }}
                                </td>
                                <td>
                                    <small class="green lighten-4">#{{ chamado.getId }}</small><br>
                                    {{ chamado.getTitulo }}
                                </td>
                                <td>
                                    {{ chamado.getObservacao }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="msg grey lighten-5 center-align flow-text{% if filtrar %} hide{% endif %}">
                    Informe um filtro acima e clique em FILTRAR.
                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $(document).on("click", "#btn-limpar-form", function(event) {
            event.preventDefault();

            $.get(
                "{{ path('chamados_relatorio_limpar') }}",
                function (data){
                    window.location.href = "{{ path('chamados_relatorio') }}";
                },
                "json"
            );
        });
    });
</script>
{% endblock %}
